<div style="font-size: 0; text-align: right; display: block;">
<%= wicked_pdf_image_tag 'logo.svg', :style => "margin-right: -6px;padding: 0px;width: 80px;height: 40px;" %>
<%= wicked_pdf_image_tag '2nnapis.png', :style => "margin-left: -6px;padding-bottom: 6px;width: 40px;height: 20px;" %>    
</div>
