<html>
  <head>
    <title>HTML to PDF converter</title>
  </head>
  <body>
  <div class="well">
  <div class="container">
    <div class="jumbotron">
      <h1>HTML to PDF Converter</h1>
      <p>Paste your HTML code or URL link to the text area below, then click Convert to download the PDF file.</p>
      <br>
      <form action = "/home/show" >
        <br>
        <textarea class="form-control" id="text1" name="text1" rows="10"></textarea>
        <br>
        <input name="commit" value="Convert from code" type="submit"/>
        <input name="commit" value="Convert from link" type="submit"/>
      </form>
      <br>
      
    </div>

  </div>

  </div>
  </body>
</html>