<!DOCTYPE html>
<html>
  <head>
    <title>HTMLtoPDF</title>
    <%#
    <%= wicked_pdf_stylesheet_link_tag "https://stackedit.io/style.css" -%>
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>
  <body>
    <%= yield %>
  </body>
</html>